In [1]:
import pandas as pd

In [2]:
test_data_path = 'C:/Users/SHYAM/Desktop/csv files/amex2k19/test.csv'
train_data_path = 'C:/Users/SHYAM/Desktop/csv files/amex2k19/train.csv'
campaign_data_path = 'C:/Users/SHYAM/Desktop/csv files/amex2k19/campaign_data.csv'
cim_data_path = 'C:/Users/SHYAM/Desktop/csv files/amex2k19/coupon_item_mapping.csv'
cd_data_path = 'C:/Users/SHYAM/Desktop/csv files/amex2k19/customer_demographics.csv'
ct_data_path = 'C:/Users/SHYAM/Desktop/csv files/amex2k19/customer_transaction_data.csv'
item_data_path = 'C:/Users/SHYAM/Desktop/csv files/amex2k19/item_data.csv'

test_raw_data = pd.read_csv(test_data_path)
train_raw_data = pd.read_csv(train_data_path)
campaign_raw_data = pd.read_csv(campaign_data_path)
cim_raw_data = pd.read_csv(cim_data_path)
cd_raw_data = pd.read_csv(cd_data_path)
ct_raw_data = pd.read_csv(ct_data_path)
item_raw_data = pd.read_csv(item_data_path)

In [3]:
test_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50226 entries, 0 to 50225
Data columns (total 4 columns):
id             50226 non-null int64
campaign_id    50226 non-null int64
coupon_id      50226 non-null int64
customer_id    50226 non-null int64
dtypes: int64(4)
memory usage: 1.5 MB

In [4]:
list(test_raw_data.nunique())

[50226, 10, 331, 1250]

In [5]:
train_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78369 entries, 0 to 78368
Data columns (total 5 columns):
id                   78369 non-null int64
campaign_id          78369 non-null int64
coupon_id            78369 non-null int64
customer_id          78369 non-null int64
redemption_status    78369 non-null int64
dtypes: int64(5)
memory usage: 3.0 MB

In [6]:
list(train_raw_data.nunique())

[78369, 18, 866, 1428, 2]

In [7]:
campaign_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
campaign_id      28 non-null int64
campaign_type    28 non-null object
start_date       28 non-null object
end_date         28 non-null object
dtypes: int64(1), object(3)
memory usage: 1.0+ KB

In [8]:
list(campaign_raw_data.nunique())

[28, 2, 25, 26]

In [9]:
cim_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92663 entries, 0 to 92662
Data columns (total 2 columns):
coupon_id    92663 non-null int64
item_id      92663 non-null int64
dtypes: int64(2)
memory usage: 1.4 MB

In [10]:
list(cim_raw_data.nunique())

[1116, 36289]

In [11]:
cd_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 7 columns):
customer_id       760 non-null int64
age_range         760 non-null object
marital_status    431 non-null object
rented            760 non-null int64
family_size       760 non-null object
no_of_children    222 non-null object
income_bracket    760 non-null int64
dtypes: int64(3), object(4)
memory usage: 41.7+ KB

In [12]:
list(cd_raw_data.nunique())

[760, 6, 2, 2, 5, 3, 12]

In [13]:
ct_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324566 entries, 0 to 1324565
Data columns (total 7 columns):
date               1324566 non-null object
customer_id        1324566 non-null int64
item_id            1324566 non-null int64
quantity           1324566 non-null int64
selling_price      1324566 non-null float64
other_discount     1324566 non-null float64
coupon_discount    1324566 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 70.7+ MB

In [14]:
list(ct_raw_data.nunique())

[549, 1582, 74063, 9252, 4923, 1418, 232]

In [15]:
item_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74066 entries, 0 to 74065
Data columns (total 4 columns):
item_id       74066 non-null int64
brand         74066 non-null int64
brand_type    74066 non-null object
category      74066 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [16]:
list(item_raw_data.nunique())

[74066, 5528, 2, 19]

In [17]:
len((set(test_raw_data['campaign_id'])).intersection(set(campaign_raw_data['campaign_id'])))

10

In [18]:
len((set(train_raw_data['campaign_id'])).intersection(set(campaign_raw_data['campaign_id'])))

18

In [19]:
len((set(test_raw_data['coupon_id'])).intersection(set(cim_raw_data['coupon_id'])))

331

In [20]:
len((set(train_raw_data['coupon_id'])).intersection(set(cim_raw_data['coupon_id'])))

866

In [21]:
len((set(test_raw_data['customer_id'])).intersection(set(ct_raw_data['customer_id'])))

1250

In [22]:
len((set(train_raw_data['customer_id'])).intersection(set(ct_raw_data['customer_id'])))

1428

In [23]:
len((set(test_raw_data['customer_id'])).intersection(set(cd_raw_data['customer_id'])))

697

In [24]:
len((set(train_raw_data['customer_id'])).intersection(set(cd_raw_data['customer_id'])))

703

In [25]:
df_coupon_item_merged = cim_raw_data.merge(item_raw_data, on='item_id')

In [26]:
df_coupon_item_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92663 entries, 0 to 92662
Data columns (total 5 columns):
coupon_id     92663 non-null int64
item_id       92663 non-null int64
brand         92663 non-null int64
brand_type    92663 non-null object
category      92663 non-null object
dtypes: int64(3), object(2)
memory usage: 4.2+ MB

In [27]:
df_coupon_item_merged_gb_coupon_id = df_coupon_item_merged.groupby('coupon_id')

In [28]:
df_train_data_merged = train_raw_data.merge(campaign_raw_data, on='campaign_id')

In [29]:
df_train_data_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78369 entries, 0 to 78368
Data columns (total 8 columns):
id                   78369 non-null int64
campaign_id          78369 non-null int64
coupon_id            78369 non-null int64
customer_id          78369 non-null int64
redemption_status    78369 non-null int64
campaign_type        78369 non-null object
start_date           78369 non-null object
end_date             78369 non-null object
dtypes: int64(5), object(3)
memory usage: 5.4+ MB

In [30]:
list(df_train_data_merged.nunique())

[78369, 18, 866, 1428, 2, 2, 17, 17]

In [31]:
df_test_data_merged = test_raw_data.merge(campaign_raw_data, on='campaign_id')

In [32]:
list(df_test_data_merged.nunique())

[50226, 10, 331, 1250, 2, 8, 9]

In [33]:
df_train_data_merged['coupon_item_count'] = df_train_data_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['item_id']).count(), axis=1)
df_train_data_merged['coupon_item_brand'] = df_train_data_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['brand']).nunique(), axis=1)
df_train_data_merged['coupon_item_brand_type'] = df_train_data_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['brand_type']).nunique(), axis=1)

df_test_data_merged['coupon_item_count'] = df_test_data_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['item_id']).count(), axis=1)
df_test_data_merged['coupon_item_brand'] = df_test_data_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['brand']).nunique(), axis=1)
df_test_data_merged['coupon_item_brand_type'] = df_test_data_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['brand_type']).nunique(), axis=1)

In [34]:
df_ct_merged_gb_customer_id = ct_raw_data.groupby('customer_id')

In [35]:
df_train_data_merged['customer_transaction_count'] = df_train_data_merged.apply(lambda x: len(df_ct_merged_gb_customer_id.get_group(x['customer_id'])), axis=1)
df_train_data_merged['transaction_start_date'] = df_train_data_merged.apply(lambda x: (df_ct_merged_gb_customer_id.get_group(x['customer_id'])['date']).min(), axis=1)
df_train_data_merged['transaction_end_date'] = df_train_data_merged.apply(lambda x: (df_ct_merged_gb_customer_id.get_group(x['customer_id'])['date']).max(), axis=1)
df_train_data_merged['transaction_unique_item'] = df_train_data_merged.apply(lambda x: (df_ct_merged_gb_customer_id.get_group(x['customer_id'])['item_id']).nunique(), axis=1)

df_test_data_merged['customer_transaction_count'] = df_test_data_merged.apply(lambda x: len(df_ct_merged_gb_customer_id.get_group(x['customer_id'])), axis=1)
df_test_data_merged['transaction_start_date'] = df_test_data_merged.apply(lambda x: (df_ct_merged_gb_customer_id.get_group(x['customer_id'])['date']).min(), axis=1)
df_test_data_merged['transaction_end_date'] = df_test_data_merged.apply(lambda x: (df_ct_merged_gb_customer_id.get_group(x['customer_id'])['date']).max(), axis=1)
df_test_data_merged['transaction_unique_item'] = df_test_data_merged.apply(lambda x: (df_ct_merged_gb_customer_id.get_group(x['customer_id'])['item_id']).nunique(), axis=1)

In [36]:
df_train_data_merged.to_csv('amex_2k19_hackathon.csv', index=False)
df_test_data_merged.to_csv('amex_2k19_hackathon.csv', index=False)

In [37]:
df_train_data_merged.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,campaign_type,start_date,end_date,coupon_item_count,coupon_item_brand,coupon_item_brand_type,customer_transaction_count,transaction_start_date,transaction_end_date,transaction_unique_item
0,1,13,27,1053,0,X,19/05/13,05/07/13,125,2,1,310,2012-01-10,2013-07-01,208
1,2,13,116,48,0,X,19/05/13,05/07/13,3,1,1,385,2012-03-04,2013-06-13,244
2,7,13,644,1050,0,X,19/05/13,05/07/13,4,1,1,237,2012-02-14,2013-06-19,216
3,21,13,1028,89,0,X,19/05/13,05/07/13,6,1,1,668,2012-04-06,2013-06-28,498
4,23,13,517,1067,0,X,19/05/13,05/07/13,3,1,1,970,2012-03-23,2013-07-02,533

In [38]:
df_train_data_merged = df_train_data_merged.astype('category')

In [39]:
for col in df_train_data_merged.columns:
    df_train_data_merged[col] = df_train_data_merged[col].cat.codes

In [40]:
df_train_data_merged.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,campaign_type,start_date,end_date,coupon_item_count,coupon_item_brand,coupon_item_brand_type,customer_transaction_count,transaction_start_date,transaction_end_date,transaction_unique_item
0,0,12,26,960,0,0,11,3,88,1,0,114,8,90,97
1,1,12,98,43,0,0,11,3,2,0,0,163,62,72,129
2,3,12,488,957,0,0,11,3,3,0,0,68,43,78,104
3,11,12,795,82,0,0,11,3,5,0,0,377,95,87,364
4,13,12,388,973,0,0,11,3,2,0,0,559,81,91,393

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, balanced_accuracy_score, recall_score, precision_score, f1_score

In [42]:
df_train_data_merged_X = df_train_data_merged.drop(['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status'], axis=1)
df_train_data_merged_y = df_train_data_merged['redemption_status']

In [43]:
x_train, x_test, y_train, y_test = train_test_split(df_train_data_merged_X, df_train_data_merged_y, random_state=0, test_size=.2, stratify=df_train_data_merged_y)

print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(62695, 10) (62695,)
(15674, 10) (15674,)

In [ ]:
rfc_model_1 = RFC(random_state=0)
rfc_model_1.fit(x_train, y_train)
rfc_model_1_y_hat = rfc_model_1.predict(x_test)
rfc_model_1_accuracy = accuracy_score(y_test, rfc_model_1_y_hat)
rfc_model_1_balanced_accuracy = balanced_accuracy_score(y_test, rfc_model_1_y_hat)
rfc_model_1_recall = recall_score(y_test, rfc_model_1_y_hat, average='micro')
rfc_model_1_precision = precision_score(y_test, rfc_model_1_y_hat, average='micro')
rfc_model_1_f1 = f1_score(y_test, rfc_model_1_y_hat, average='micro')

svc_model_1 = SVC(random_state=0)
svc_model_1.fit(x_train, y_train)
svc_model_1_y_hat = svc_model_1.predict(x_test)
svc_model_1_accuracy = accuracy_score(y_test, svc_model_1_y_hat)
svc_model_1_balanced_accuracy = balanced_accuracy_score(y_test, svc_model_1_y_hat)
svc_model_1_recall = recall_score(y_test, svc_model_1_y_hat, average='micro')
svc_model_1_precision = precision_score(y_test, svc_model_1_y_hat, average='micro')
svc_model_1_f1 = f1_score(y_test, svc_model_1_y_hat, average='micro')

In [ ]:
model_names = ['rfc_model_1', 'svc_model_1']
accuracy_scores = [rfc_model_1_accuracy, svc_model_1_accuracy]
balanced_accuracy_scores = [rfc_model_1_balanced_accuracy, svc_model_1_balanced_accuracy]
recall_scores = [rfc_model_1_recall, svc_model_1_recall]
precision_scores = [rfc_model_1_precision, svc_model_1_precision]
f1_scores = [rfc_model_1_f1, svc_model_1_f1]
df_model_evaluation = pd.DataFrame({'model_name': model_names, 'accuracy_score': accuracy_scores, 'balanced_accuracy_score': balanced_accuracy_scores, 'recall_score': recall_scores, 'precision_score': precision_scores, 'f1_score': f1_scores})
df_model_evaluation

In [ ]:
df_train_data_merged['redemption_status'].value_counts()

In [ ]:
from sklearn.model_selection import GridSearchCV

rfc_hyperparameters_grid = {
    'n_estimators': [10, 50, 100, 200, 500],
    'criterion': ['gini', 'entropy'], 
    'max_depth': [None, 2, 4, 8, 16, 32], 
    'max_features': [None, 'sqrt', 'log2'],
}
rfc_model_2 = GridSearchCV(estimator=RFC(random_state=0, class_weight={0:106, 1:1}), param_grid=rfc_hyperparameters_grid, cv=4)
rfc_model_2.fit(x_train, y_train)
rfc_model_2_y_hat = rfc_model_2.predict(x_test)
rfc_model_2_accuracy = accuracy_score(y_test, rfc_model_2_y_hat)

svc_hyperparameters_grid = {
    'C': [1, 1.1, 1.2, 1.5, 2, 2.5],
    'kernel': ['linear', 'poly', 'rbf', 'sigmoid'], 
}
svc_model_2 = GridSearchCV(estimator=SVC(random_state=0, class_weight={0:106, 1:1}), param_grid=svc_hyperparameters_grid, cv=4)
svc_model_2.fit(x_train, y_train)
svc_model_2_y_hat = svc_model_2.predict(x_test)
svc_model_2_accuracy = accuracy_score(y_test, svc_model_2_y_hat)

model_names_2 = ['rfc_model_2', 'svc_model_2']
accuracy_scores_2 = [rfc_model_2_accuracy, svc_model_2_accuracy]
df_model_evaluation_2 = pd.DataFrame({'model_name': model_names_2, 'accuracy_score': accuracy_scores_2})
df_model_evaluation = df_model_evaluation.append(df_model_evaluation_2)
df_model_evaluation